/* Estilos generales para todas las pantallas */
.iniciarSesion{
  display: flex !important;
  justify-content: end !important;
  align-items: baseline !important;
  padding: 1% !important;
  mat-form-field{
    padding: 1% !important;
  }
  .button{
    padding: 1%;
  }

}

.container{
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  padding-left: 12.5%;
  padding-right: 12.5%;
}
.mat-mdc-card{
  width: 25%;
  background-color: transparent !important;
  border-color: transparent !important;
}
mat-toolbar{
  height: fit-content !important;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled){
  background-color: white;;
}

.tarjetaInicioSesion{
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column !important;
}

.motivos{
  width: 100% !important;
  height: 50%;
}
/* Estilos para pantallas más pequeñas que 600px */
@media (max-width: 600px) {
  mat-toolbar{
    display: flex !important;
    flex-direction: column !important;

  }
}

/* Estilos para pantallas entre 600px y 900px */
@media (min-width: 600px) and (max-width: 899px) {
  mat-toolbar{
    display: flex !important;
    flex-direction: column !important;

  }
}
/* Estilos para pantallas más grandes que 900px */
@media (min-width: 900px) {
  mat-toolbar{
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    justify-content: center !important;
    align-items: center !important;

  }
}
